.container {
  width: 100vw;
  min-height: 100vh;
}
.drawer {
  display: flex;
  flex-direction: column;
  width: 20vw;
  max-width: 260px;
  min-width: 200px;
  background-color: #f9f9f9;
}
.drawer-header {
  cursor: pointer;
  width: 90%;
  height: auto;
  margin: 5%;
}
.drawer-entries {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}
.btn-menu {
  width: 100%;
  max-width: 100%;
  text-align: left !important;
  margin: 2.5px 0%;
  height: 3em;
}
.btn-menu mat-icon {
  float: right;
  //padding-top: 6px;
}

.drawer-header img {
  width: 100%;
}
.menu-movil {
  position: relative;
}
.menu-content{
  width: available;
  min-height: 100vh;
  display: flex ;
  flex-direction: column ;
  background-color: white;
 }
@media (max-width: 720px) {
  .drawer {
    width: 60vw;
    max-width: 60vw;

  }
}
.actionbar {
  display: flex !important;
  flex-direction: column !important;
  width: 100vw;
  background-color: transparent;
}
