<mat-drawer-container class="container">
  <mat-drawer #drawer  class="drawer" [mode]="mode">
    <div class="drawer-header" >
      <img src="assets/menu-logo.jpg"  />
    </div>
    <div class="drawer-entries">
      <!--      Cambiar contrasenia-->
      <button class="btn-menu" mat-button color="primary" >
        <mat-icon>lock</mat-icon>
        <label >Ejemplo 1</label>
      </button>
      <mat-divider></mat-divider>
      <button class="btn-menu" mat-button color="accent" >
        <mat-icon>lock</mat-icon>
        <label >Ejemplo 2</label>
      </button>
      <button class="btn-menu" mat-button color="warn" >
        <mat-icon>lock</mat-icon>
        <label >Ejemplo 3</label>
      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="content">
    <div class="actionbar"
         *ngIf="mode === 'over' && shouldHaveMenu" >
      <button (click)="drawer.toggle()"
              class="menu-movil" mat-flat-button color="warn">
        <mat-icon  >menu</mat-icon>Menú
      </button>
    </div>
    <div>
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
