<mat-drawer-container class="container">
  <mat-drawer #drawer  class="drawer" [mode]="mode">
    <div class="drawer-header" >
      <img src="assets/menu-logo.jpg"  />
    </div>
    <div class="drawer-entries">
      <button class="btn-menu" mat-button color="primary" (click)="router.irNotificationSender()" >
        <label >Enviar notificación</label>
        <mat-icon>send</mat-icon>

      </button>
      <button class="btn-menu" mat-button color="primary" (click)="router.irNotificationSchedule()">
        <label >Programar notificación</label>
        <mat-icon>schedule</mat-icon>

      </button>

      <button class="btn-menu" mat-button color="primary" (click)="router.irNotificationScheduled()" >
        <label >Notificaciones programadas</label>
        <mat-icon>alarm_on</mat-icon>

      </button>
      <button class="btn-menu" mat-button color="primary" (click)="router.irNotificationHistory()" >
        <label >Historial de notificaciones</label>
        <mat-icon>history</mat-icon>

      </button>
      <mat-divider></mat-divider>
      <button class="btn-menu" mat-button color="primary" (click)="router.irCrearServicio()" >
        <label >Crear servicio</label>
        <mat-icon>add</mat-icon>

      </button>
      <button class="btn-menu" mat-button color="primary" (click)="router.irConsultarServicios()" >
        <label >Consultar servicios</label>
        <mat-icon>history</mat-icon>

      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="menu-content">
    <div class="actionbar"
         *ngIf="mode === 'over' && shouldHaveMenu" >
      <button (click)="drawer.toggle()"
              class="menu-movil" mat-flat-button color="warn">
        <mat-icon  >menu</mat-icon>Menú
      </button>
    </div>
    <div>
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
