<mat-drawer-container class="container">
  <mat-drawer #drawer [opened]="shouldHaveMenu" class="drawer" [mode]="mode">
    <div class="drawer-header" >
      <img src="" alt="Aqui puede haber una imagen" />
    </div>
    <div class="drawer-entries">
      <button class="btn-menu" mat-button color="primary">
        <label >Entrada 1</label>
        <mat-icon>send</mat-icon>

      </button>
      <button class="btn-menu" mat-button color="primary" >
        <label >Entrada 2</label>
        <mat-icon>schedule</mat-icon>

      </button>

      <button class="btn-menu" mat-button color="primary"  >
        <label >Entrada 3</label>
        <mat-icon>alarm_on</mat-icon>

      </button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="menu-content">
    <div class="actionbar"
         *ngIf="mode === 'over' && shouldHaveMenu" >
      <button (click)="drawer.toggle()"
              class="menu-movil" mat-flat-button color="warn">
        <mat-icon  >menu</mat-icon>Menú
      </button>
    </div>
    <div>
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
