
<div class="page">

  <div class="main">

    <div class="header">
      <div class="logo-header">
      </div>
      <div *ngIf="!menuCollapsed" class="menu">
        <button class="menu-label" mat-button  >
          {{'menu.home' | translate }}
        </button>
        <button class="menu-label" mat-button  >
          {{'menu.projects' | translate}}
        </button>
        <button class="menu-label" mat-button  >
          {{'menu.about' | translate}}
        </button>
<!--        <button class="menu-label" mat-button (click)="router.goContact()" >-->
<!--          {{homeRoutes.MODULE_ROUTES.get(homeRoutes.CONTACT_KEY).label}}-->
<!--        </button>-->
      </div>
    </div>
    <div class="main-content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
  <!-- Boton de menu sobreopuesto en todas las paginas -->

  <!-- El contenido de todas las paginas -->
<!---- --->

