<mat-drawer-container  autosize >
  <mat-drawer class="my-drawer" #drawer [opened]="drawer.opened && mobileLayout"  mode="side" >
    <div class="drawer-content">
      <!-- titulo del menu -->
      <div class="menu-logo-container">
        <div class="menu-close">
          <mat-icon (click)="drawer.close()" >close</mat-icon> <!-- icono de cerrar menu -->
        </div>
        <div class="menu-logo-img">
          <img  src="assets/logo.jpg" />
        </div>
      </div>
      <div (click)=" drawer.close()"  color="primary"  class="menu-button">
        <a class="menu-label" > {{ 'menu.home' | translate }} </a>
      </div>
      <div (click)=" drawer.close()"  color="primary"  class="menu-button">
        <a class="menu-label" > {{ 'menu.projects' | translate }} </a>
      </div>
      <div (click)=" drawer.close()"  color="primary"  class="menu-button">
        <a class="menu-label" > {{ 'menu.about' | translate }} </a>
      </div>
<!--      <div (click)="router.goContact(); drawer.close()" color="primary"  class="menu-button">-->
<!--        <a class="menu-label" > contacto</a>-->
<!--      </div>-->
    </div>
  </mat-drawer>
  <div class="content">
    <div *ngIf="drawer.opened" (click)="drawer.close()" class="opacityLayer"></div>
    <div class="menu-container" *ngIf="mobileLayout" >
      <button class="menu-toggle-button" type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <ng-content></ng-content>
  </div>

</mat-drawer-container>

